@import "common.less";
@import "variables.less";
@import "bootstrap/forms.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
}


@import "@{component}/chat/style.less";
@import "@{component}/ChatMessage/style.less";
@import "@{component}/Info/style.less";
@import "@{component}/Input/style.less";
@import "@{component}/LeftPanel/style.less";
@import "@{component}/Menus/style.less";
@import "@{component}/RootHeader/style.less";
@import "@{component}/RootMain/style.less";
@import "@{component}/Tabs/style.less";
@import "@{component}/Title/style.less";
@import "@{component}/Tools/style.less";


@import "@{component}/login/style.less";
@import "@{component}/LoginForm/style.less";
@import "@{component}/RegisterForm/style.less"; 
@import "@{component}/CommonHeader/style.less";





