@import "variables.less";
@import "common.less";
.Chat-area {
    border-left: 1px rgb(227, 237, 242) solid;
    position: absolute;
    right: 0;
    bottom: @input-height + @tools-height;
    top: 0;
    left: 0;
    overflow: auto;
}