@import "../../../less/variables.less";
.common-CommonHeader-component.component{  
    height: 70px;
    text-align: center;
    padding: 0 10px;
    position: relative;
    >.center {
        &:extend(.abs-fill);
        display: flex;
        align-items: center;
        position: relative;                
        line-height: 70px;
        height: 100%;
        >.icon {
//            &:extend(.abs-fill);
//            right: auto; 
            img{
                display: block;
            }
            display: inline-block;
        }
        >.nav-btn {
            background: none;
            border: none;
            font-size: 16px;
            margin-left: 15px;
            color: #444;
        }
        >.extend {
            flex-grow: 1;
        }
        >.room {
            height: 30px;
            width: 200px;
            margin-right: 10px; 
        }
        >.sign-btn{
            
        }
        >.sign-in {
            &:extend(.sign-btn);
            margin-right: 10px;
        }
        >.sign-up {
            &:extend(.sign-btn);
        }
    }
}